div.container{
	min-height: 500px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

div.has-gutter{
	margin: 2px;
}

th{
	background: rgb(110,30,120);
}

th[scope="row"]{
	background: -moz-linear-gradient(-45deg, rgb(110,30,120) 50%, rgb(161,0,107) 80%, rgb(205,0,55) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(110,30,120) 50%,rgb(161,0,107) 80%,rgb(205,0,55) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(110,30,120) 50%,rgb(161,0,107) 80%,rgb(205,0,55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e1e78', endColorstr='#cd0037',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}


th[scope="row"].arrival{
	background: rgb(130,190,0); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgb(130,190,0) 80%, rgb(210,225,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgb(130,190,0) 80%,rgb(210,225,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgb(130,190,0) 80%,rgb(210,225,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82be00', endColorstr='#d2e100',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}

th[scope="row"].departure{
	background: rgb(0,136,206); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgb(0,136,206) 80%, rgb(0,154,166) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgb(0,136,206) 80%,rgb(0,154,166) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgb(0,136,206) 80%,rgb(0,154,166) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ce', endColorstr='#009aa6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

th[scope="row"].geops{ /* en l'état, c'est la même chose qu'un th normal, mais est amené à évoluer si besoin */
	
}

th[scope="row"].rlp{ /* en l'état, c'est la même chose qu'un skin departure, mais est amené à évoluer si besoin */
	background: rgb(0,136,206); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgb(0,136,206) 80%, rgb(0,154,166) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgb(0,136,206) 80%,rgb(0,154,166) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgb(0,136,206) 80%,rgb(0,154,166) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ce', endColorstr='#009aa6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

th[scope="row"].cpt{
	background: rgb(224,82,6); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(224,82,6) 80%, rgb(224,82,6) 80%, rgb(255,182,18) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(224,82,6) 80%,rgb(224,82,6) 80%,rgb(255,182,18) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(224,82,6) 80%,rgb(224,82,6) 80%,rgb(255,182,18) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e05206', endColorstr='#ffb612',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

th[scope="row"].eic{
	background: rgb(103,92,83); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(103,92,83) 80%, rgb(130,120,111) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(103,92,83) 80%,rgb(130,120,111) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(103,92,83) 80%,rgb(130,120,111) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#675c53', endColorstr='#82786f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}



tr:nth-child(even) {background: rgb(224,222,216)} /* warm-gray 1 */
tr:nth-child(odd) {background: #FFF}

tr:hover{
	background-color: rgb(230,200,255); /* prune ciel */
}

table{
	width: 100%;
	width: 100%;
	
}

th, th a, button a{
	color: white;
}

li.prev a, li.next a, th a, button a, ul.side-nav li a, td.actions a{
	text-decoration: none;
}

li{
	list-style-type: none;
}

ul.pagination li{
	display: inline;
	margin-right: 10px;
}

th, td{
	padding: 4px;
	text-align: center;
}

ul.side-nav{
	margin-top: 10px;
	margin-bottom: 20px;
}

ul.side-nav li, td.actions a{
	display: inline;
	
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	
	
	margin-left: 10px;
	border-right: solid 2px #333;
	border-bottom: solid 1px #888;
	transition: background-color 0.5s ease;
	line-height: 3;
	white-space: nowrap;
}

td.actions a.rouge, li.rouge{
	background-image: linear-gradient(to bottom, rgb(255, 50, 50) 0%, rgba(255, 200, 0, 0.5) 100%);

  animation: blink-animation 2s steps(5, start) 3;
  -webkit-animation: blink-animation 2s steps(5, start) 3;
  

}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

ul.side-nav li:hover, td.actions a:hover{
	background-color: rgb(0,154,166);
	color: white;
}

ul.side-nav li a, td.actions a{
	transition: color 0.5s ease;
}

ul.side-nav li a:hover{
	color: white;
}

ul.side-nav li.heading{
	background-color: rgb(0,136,206);
	color: white;
	text-decoration: none;
	display: inline-block;
	cursor: default;
}

div.input{
	margin: 10px;
}

div.datetime, div.time, div.date{
	display: inline;
}

fieldset{
	background-color: #F4F4F4;
}

div.input label{
	margin-right: 10px;
}

div.input input:focus {
    outline: 0;
    box-shadow: 0px 0px 5px 1px #3b99fc;
}

form button{
    background-color: #6E1E78;
	color: #fff;
    margin: 1.5rem;
}

form button:hover{
    background-color: rgb(205,0,55);
}

form button, ul.side-nav li, td.actions a{ 
	text-transform: uppercase;
	font-size: 1.3rem;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: .8rem 1.4rem;
}

table.vertical-table th{
	width: 20%;
}


.green, .red, .orange{
	color: white;
	border-left: 5px solid rgb(77,79,83);
	border-right: 5px solid rgb(67,69,73);
	border-top: 5px solid #1D1D1D;
	border-bottom: 5px solid #1D1D1D;
	margin: 500px!important;
}

.green{
	background-color: green;
}

.red{
	background-color: red;
}

.orange{
	background-color: orange;
}

.error-message, .error{
	color: rgb(213,43,30);
	background: -moz-linear-gradient(top, rgba(150,150,150,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(150,150,150,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(150,150,150,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	animation: blink-animation 0.3s steps(2, start) 5;
}

#erreur-numero, #erreur{
	color: red;
	display: none;
}

span.error{
	background: transparent;
}

input[type="radio"]{
	margin-left: 15px;
	margin-right: 5px;
}

div.datetime select:nth-child(2){
	margin-left: 5px;
}

div.datetime select:nth-child(4){
	margin-right: 15px;
}

.cake-debug{
	background-color: orange;
	color: black;
	font-size: 15px;
	max-height: 400px;
	overflow: scroll;
}

.icon{
	height: 20px;
	width: 20px;
}

.msg-alerte{
	display: inline;
}